.sh-col1 {
    z-index: -1;
}

.sh-col2 {
    display: none;
    position: absolute;
    width: 95%;
    background-color: white;
    z-index: 2;
    box-shadow: rgb(100 100 111 / 20%) 0px 0px 8px 2px;
    margin: 0 auto;
    top: 23vh;
    border-radius: 15px;
}

.sh-ord-details {
    display: none;
}

.sh-cus-info {
    display: none;
    margin: 0.625rem 0.3125rem;
}

.sh-col2-cta2 {
    display: none;
    justify-content: center;
    align-items: center;
    height: 8vh;
}

.sh-btm-cta-container {
    z-index: -1;
}

.dl-btn-three {
    margin-bottom: 0;
    padding: 10px 8px;
    font-size: 10px;
}

.sh-col2-cta1 {
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0.125rem;
}

.sh-ord-details {
    margin: 0 0.3125rem;
}

.sh-ord-title {
    font-size: 0.875rem;
}

ul.sh-ord-ul {
    font-size: 0.75rem;
    font-weight: 300;
}

ul.sh-cus-ul {
    font-size: 0.75rem;
    font-weight: 300;
}

.sh-cus-title {
    font-size: 14px;
}